.window {
	opacity: 0.25;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.window:hover {
	opacity: 1;
}

button {
	background-color: #16a085;
	border: 1px solid transparent;
	border-radius: 2px;
	color: #FFFFFF;
	cursor: pointer;
	outline: none;
	padding: 8px;
	user-select: none;
}

button:hover {
	background-color: #1abc9c;
	border-color: #1abc9c;
}

button:focus {
	border-color: #4bc6ae;
	box-shadow: 0px 0px 6px 0px #1abc9c;
}

button:active {
	border-color: #1abc9c;
	box-shadow: 0px 0px 6px 0px #1abc9c;
}

input {
	border: 1px solid #1abc9c;
	border-radius: 2px;
	outline: none;
	padding: 8px;
	user-select: none;
}

input:focus {
	border-color: #4bc6ae;
	box-shadow: 0px 0px 6px 0px #1abc9c;
}